
body{
    border-top:4px solid #cb2027;box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.20);min-height: 480px;

    /*
    http://remysharp.com/2012/05/24/issues-with-position-fixed-scrolling-on-ios/
    http://fioravengi.blogspot.nl/2011/06/implications-of-ios-5-webkit-overflow.html
    http://stackoverflow.com/questions/7808110/css3-property-webkit-overflow-scrollingtouch-error
    */
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

body > .navbar .brand {color: white;float:left;}


a{ color:#cb2027;}
a:hover{color: #cb2027;text-decoration: none;}
a:active{color: #fff;background-color: #cb2027;text-decoration: none;}

a.logo{margin:0 auto 0 auto;max-width:1140px;display: block;text-decoration: none;background-color: transparent;}
.logo img{margin-top:5px;}

/** Bootstrap override */
.nav-list > .active > a, .nav-list > .active > a:hover {background-color: #cb2027;}
/*.bs-docs-sidenav > li > a:hover {background-color: #cb2027;border-color: #cb2027;text-shadow: none;}*/
.bs-docs-sidenav > li > a:hover {background-color: #000000;border-color: #000000;text-shadow: none;}
/** /Bootstrap override */

/** Styling of the candidates */
.persons{list-style-type: none;padding: 0;margin: 0;}
.persons li{position: relative;}
.persons li:nth-child(even) {background-color: #f9f9f9;border-top:1px solid rgb(221, 221, 221);border-bottom:1px solid rgb(221, 221, 221);}
.persons a{display: block;padding:20px;}
.persons .place{font-size: 25px;color:#000000;font-weight:bold;position: absolute;top: 19px;}
.persons .name{font-size:18px;margin-left:35px;}
/*.persons a:hover .place{color: #ffffff;}*/
/** /Styling of the candidates */

/** Navfixed */
.navfixed{
    position: fixed;top:0;left:0;
    width: 100%;z-index: 1042;
    height: 48px;
    background-color:rgba(245, 245, 245, 0.8);border-bottom:1px solid #eee;
    display: block;

    border-top: 4px solid rgb(203, 32, 39);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.20);
}
.navfixed-ph{height: 52px;display: block;}
.navfixed div{margin:10px;}
/** /Navfixed */


/* 32x31 */
.loading{
    border-radius: 5px;
    padding: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    background: rgba(0, 0, 0, 0.8);
    margin-top: -30px;
    margin-left: -15px;
    z-index: 1042;
    display: none;
}

.center{text-align: center;}
.alert{margin-top: 5px;margin-bottom: 5px;}



.marketing .btn {
    padding: 14px 24px;
    font-size: 24px;
    font-weight: 200;
    color: white;
    border: 0;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 1px 5px rgba(0, 0, 0, .25);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 1px 5px rgba(0, 0, 0, .25);
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
    margin-top: 20px;
    margin-bottom: 20px;
}






/*.home-link:hover,*/
.home-link:active {
    text-decoration: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);

    /*
    border: 1px solid #e3e3e3;
    background-color:#efefef;
    */

    text-shadow: 0 -1px rgba(34,25,25,0.3);
    border: 1px solid #B80025;
}

/*
.home-link:hover:active {
    color: #fff;
    text-shadow: 0 -1px rgba(34,25,25,0.3);
    background-color: #cb2027;
    border-color: #B80025;
}
*/


.home-link{padding:5px;border:1px solid transparent;display: block;margin:0;min-height: 30px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
.home-link i{margin-top:11px;}
.home-link h2{margin:0;}

.gameStep{color:#999;font-size: 12px;text-align: center;font-weight: normal;}
.step {font-size: 12px;line-height: 20px;}