
body{
    border-top:2px solid #cb2027;box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.20);min-height: 480px;

    /*
    http://remysharp.com/2012/05/24/issues-with-position-fixed-scrolling-on-ios/
    http://fioravengi.blogspot.nl/2011/06/implications-of-ios-5-webkit-overflow.html
    http://stackoverflow.com/questions/7808110/css3-property-webkit-overflow-scrollingtouch-error
    */
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

body > .navbar .brand {color: white;float:left;}


a{ color:#cb2027;}
a:hover{color: #cb2027;text-decoration: none;}
a:active{color: #fff;background-color: #cb2027;text-decoration: none;}

a.logo{margin:0 auto 0 auto;max-width:1140px;display: block;text-decoration: none;background-color: transparent;}
.logo img{margin-top:5px;}

/** Bootstrap override */
.nav-list > .active > a, .nav-list > .active > a:hover {background-color: #cb2027;}
/*.bs-docs-sidenav > li > a:hover {background-color: #cb2027;border-color: #cb2027;text-shadow: none;}*/
.bs-docs-sidenav > li > a:hover {background-color: #000000;border-color: #000000;text-shadow: none;}
/** /Bootstrap override */

/** Styling of the candidates */
.persons{list-style-type: none;padding: 0;margin: 0;}
.persons li{position: relative;}
.persons li:nth-child(even) {background-color: #f9f9f9;border-top:1px solid rgb(221, 221, 221);border-bottom:1px solid rgb(221, 221, 221);}
.persons a{display: block;padding:20px;}
.persons .place{font-size: 25px;color:#000000;font-weight:bold;position: absolute;top: 19px;}
.persons .name{font-size:18px;margin-left:35px;}
/*.persons a:hover .place{color: #ffffff;}*/
/** /Styling of the candidates */

/** Navfixed */
.navfixed{
    position: fixed;top:0;left:0;
    width: 100%;z-index: 1042;
    height: 48px;
    background-color:rgba(245, 245, 245, 0.8);border-bottom:1px solid #eee;
    display: block;

    border-top: 2px solid rgb(203, 32, 39);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.20);
}
.navfixed-ph{height: 48px;display: block;}
.navfixed div{margin:10px;}
/** /Navfixed */


/* 32x31 */
.loading{
    border-radius: 5px;
    padding: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    background: rgba(0, 0, 0, 0.8);
    margin-top: -30px;
    margin-left: -15px;
    z-index: 1042;
}






.game {
    position:fixed;
    bottom:0;
    right:0;
    /*background-color: #cb2027;*/
    background-color: rgba(203, 32, 39, 0.8);
    padding:25px 10px 10px 25px;
    color:white;
    text-align: center;
    text-shadow: 0 -1px rgba(34,25,25,0.3);


    -webkit-border-radius: 500px 0 0 0;
    -moz-border-radius: 500px 0 0 0;
    border-radius: 500px 0 0 0;

    outline: 0;
    border-top:1px solid rgb(203, 32, 39);
    border-left:1px solid rgb(203, 32, 39);
    /*
    -webkit-box-shadow:0 5px 5px rgba(0, 0, 0, 0.80);
    -moz-box-shadow:0 5px 5px rgba(0, 0, 0, 0.80);
    box-shadow:0 0 20px 5px rgba(0, 0, 0, 0.20);
    */
    /*
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 255, 255, 0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 255, 255, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 255, 255, 0.6);
    */
    /*
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    */
}

/*.game:hover,*/
.game:active
{
    color:white;
    background-color: rgba(203, 32, 39, 1);
    text-decoration: none;
    text-shadow: 0 -1px rgba(34,25,25,0.3);
}



.home-link{
    padding: 5px;
    border:1px solid transparent;
}

.home-link h2{margin:0;}


/*.home-link:hover,*/
.home-link:active {
    text-decoration: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);

    /*
    border: 1px solid #e3e3e3;
    background-color:#efefef;
    */

    text-shadow: 0 -1px rgba(34,25,25,0.3);
    border: 1px solid #B80025;
}

/*
.home-link:hover:active {
    color: #fff;
    text-shadow: 0 -1px rgba(34,25,25,0.3);
    background-color: #cb2027;
    border-color: #B80025;
}
*/

.home-link i{margin-top:11px;}

.span4.home-link{
    margin:0;
}
