{% include "inc/header.html" %}
    <div class="row">
        <section style="padding:0">
            <div class="page-header">
                <h1>Hoe stemmen we in Lommel?</h1>
            </div>

            <p class="lead">In Lommel stemmen we al jaren digitaal. Dit keer met nieuwe stemcomputers! Benieuwd hoe het in zijn werk gaat,
                <a href="http://www.vlaanderenkiest.be/faq/12-stappen-van-het-digitaal-stemmen">lees er dan hier alles over!</a></p>

            <p><strong>Of kijk naar dit filmpje!</strong></p>
            <!--<p class="style58"><strong><a href="http://www.vlaanderenkiest.be/digitaal-stemmen-doe-je-zo-film" target="_blank"></a></strong></p>-->
            <!--http://www.longtailvideo.com/support/jw-player/jw-player-for-flash-v5-->
        </section>

        <script type='text/javascript' src='/s/js/jwplayer/jwplayer.js'></script>
        <div id='mediaplayer'></div>
        <script type="text/javascript">
            jwplayer('mediaplayer').setup({
                'flashplayer': '/s/js/jwplayer/player.swf',
                'id': 'playerID',
                'width': '260',
                'height': '146',
                'file': 'http://www.vlaanderenkiest.be/sites/default/files/videos/original/De%20kiesverichtingen%20in%20een%20stembureau%20DEF_V2.mp4'
            });
            /*
             'width': '480',
             'height': '270',
             */
        </script>
    </div>
{% include "inc/footer.html" %}