{% include "inc/header.html" %}

    <div class="marketing">
        <div class="row-fluid">
            <a href="/spel" class="btn btn btn-danger btn-large" loading="true">
                Speel het spel
            </a>

            <a href="/wie/" class="span4 home-link" loading="true">
                <h2><i class="icon-user"></i> Wie?</h2>
                <p>Ontdek onze lijst & haar kandidaten</p>
            </a>
            <a href="/waarom" class="span4 home-link" loading="true">
                <h2><i class="icon-bullhorn"></i> Waarom?</h2>
                <p>De belangrijkste programmapunten</p>
            </a>
            <a href="/hoe" class="span4 home-link" loading="true">
                <h2><i class="icon-edit"></i> Hoe?</h2>
                <p>Hoe moet je stemmen ...</p>
            </a>
        </div>
    </div>

{% include "inc/footer.html" %}