{% include "inc/header.html" %}

<div class="container">
    <div class="marketing">
        <div class="row-fluid">
            <a href="/wie/" class="span4 home-link">
                <h2>Wie?</h2>
                <!--<p>Built at Twitter by <a href="http://twitter.com/mdo">@mdo</a> and <a href="http://twitter.com/fat">@fat</a>, Bootstrap utilizes <a href="http://lesscss.org">LESS CSS</a>, is compiled via <a href="http://nodejs.org">Node</a>, and is managed through <a href="http://github.com">GitHub</a> to help nerds do awesome stuff on the web.</p>-->
                <p>Ontdek onze lijst & haar kandidaten</p>
            </a>
            <a href="/waarom" class="span4 home-link">
                <h2>Waarom?</h2>
                <p>De belangrijkste programmapunten</p>
            </a>
            <a href="/hoe" class="span4 home-link">
                <h2>Hoe?</h2>
                <p>Hoe moet je stemmen ...</p>
            </a>
        </div>
    </div>
</div>

{% include "inc/footer.html" %}