{% include "inc/header.html" %}
<div class="row">
    <div class="page-header">
        <h1>Foto Quizzz <small>Raad het plaatje ...</small></h1>
    </div>
    <p class="center"><a href="/spel/1" class="btn btn btn-danger btn-large" loading="true">Start het spel <i class="icon-chevron-right icon-white"></i></a></p>
    <p class="lead" style="margin-top: 25px;">We tonen jouw 10 willekeurige jeugdfoto's van onze kandidaten, het is aan jouw om te raden wie deze <strong>'jonge snoetjes'</strong> zijn ... </p>
    <p><span class="label label-info">Tip!</span> Kijk eerst eens in onze kandidaten lijst</p>
</div>
{% include "inc/footer.html" %}
