{% include "inc/header.html" %}
<div class="row">
    {% ifequal result "error" %}
    <div class="alert alert-error pointer" data-dismiss="alert">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <strong>Oops!</strong> Dat was niet juist
    </div>
    {% endifequal %}

    {% ifequal result "success" %}
    <div class="alert alert-success pointer" data-dismiss="alert">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <strong>Yep!</strong> Dat was {{ personCorrect.name }}
    </div>
    {% endifequal %}

    <h5 class="gameStep">{{ step }} / 10</h5>
    <div class="center"><img src="/s/img/persons/youth/{{ person.place }}.jpg" class="img-polaroid"/></div>

    <ul class="persons">
        <li><a href="/spel/{{ step|add:1 }}?c={{ correct }}&d={{ done }}&q={{ answers.0.place }}" loading="true"><span class="place">1</span> <span class="name">{{ answers.0.name }}</span></a></li>
        <li><a href="/spel/{{ step|add:1 }}?c={{ correct }}&d={{ done }}&q={{ answers.1.place }}" loading="true"><span class="place">2</span> <span class="name">{{ answers.1.name }}</span></a></li>
        <li><a href="/spel/{{ step|add:1 }}?c={{ correct }}&d={{ done }}&q={{ answers.2.place }}" loading="true"><span class="place">3</span> <span class="name">{{ answers.2.name }}</span></a></li>
    </ul>
</div>
{% include "inc/footer.html" %}
