{% include "inc/header.html" %}

<div class="row" xmlns="http://www.w3.org/1999/html">
    <div class="span3 bs-docs-sidebar">
        <ul class="nav nav-list bs-docs-sidenav " data-spy="affix" data-offset-top="10">
            <li class="active"><a href="#EenKrachtigFinancieelBeleid"><i class="icon-chevron-right"></i> Een krachtig financieel beleid</a></li>
            <li><a href="#werkInEigenStreek"><i class="icon-chevron-right"></i> Werk in eigen streek</a></li>
            <li><a href="#GezelligWinkelen"><i class="icon-chevron-right"></i> Gezellig winkelen</a></li>
            <li><a href="#iedereenThuisInOnzeStad"><i class="icon-chevron-right"></i> Iedereen thuis in onze stad</a></li>
            <li><a href="#WonenTussenPleinenEnParken"><i class="icon-chevron-right"></i> Wonen tussen pleinen en parken</a></li>
            <li><a href="#UwOudeDagIsOnzeZorg"><i class="icon-chevron-right"></i> Uw oude dag is onze zorg</a></li>
            <li><a href="#FitFitterFitst"><i class="icon-chevron-right"></i> Fit, fitter, fitst</a></li>
            <li><a href="#VanGRAUWnaarGROEN"><i class="icon-chevron-right"></i> Van GRAUW naar GROEN</a></li>
            <li><a href="#AandachtVoorLommelsTalent"><i class="icon-chevron-right"></i> Aandacht voor lommels talent!</a></li>
            <li><a href="#LommelLeeftAltijdEnOveral"><i class="icon-chevron-right"></i> Lommel leeft... altijd en overal</a></li>
        </ul>
    </div>
    <div class="span9">

        <section id="EenKrachtigFinancieelBeleid">
            <div class="page-header">
                <h1>1. Een krachtig financieel beleid</h1>
            </div>
            <p class="lead">Al vele jaren voeren we een gezond financieel beleid. Dat is in de eerste plaats goed voor uw portemonnee.
                Omdat we goed op de centen letten, kunnen we de gemeentebelastingen voor de Lommelse gezinnen laag houden.
                Dankzij deze lage belastingen is wonen in Lommel per gezin (van gemiddeld vier personen) elk jaar zo’n 340 euro goedkoper dan elders in Vlaanderen.</p>

            <div class="row-fluid">
                <p>Een financieel gezond beleid is daarenboven ook goed voor de stadskas. Meer doen met minder geld is steeds de betrachting.
                    En met de extra taken voor de steden en de gemeenten, de toenemende personeelskosten en werkingskosten, zal dit ook in de toekomst de uitdaging blijven.</p>
                <p>Daarom is het belangrijk dat iedereen een stukje meebetaalt aan ons welzijn, en niet alleen de Lommelaars.</p>

                <ul>
                    <li>We proberen steeds maximaal subsidies van de provincie, van Vlaanderen en zelfs van Europa naar Lommel te halen (bv. € 28.000.000 euro voor Kristalpark).</li>
                    <li>Ook onze bedrijven dragen op een eerlijke manier via belastingen bij.</li>
                    <li>De vele toeristen betalen een toeristenbelasting voor elke overnachting.</li>
                </ul>

                <h2>Gemeente belasinting</h2>
                <ul>
                    <li>6,00% Lommel</li>
                    <li>7,53%	 Gemiddelde Limburg</li>
                </ul>

                <h2>Onroerende voorheffing</h2>
                <ul>
                    <li>1150 opcentiemen	Lommel</li>
                    <li>1318 opcentiemen	Gemiddelde Limburg</li>
                </ul>

                <p>De zandbedrijven betalen een zandbelasting voor elke ton zand die ze verkopen. In de toekomst willen we die extra-inkomsten ook nog elders halen:</p>
                <ul>
                    <li>Door als stad zelf mee te investeren in de nieuwe windmolens, brengt de wind in Lommel de volgende jaren ook geld in onze stadskas;</li>
                    <li>met de bouw van een crematorium in Lommel wordt afscheid nemen van een dierbaar familielid voor de Lommelaar niet alleen goedkoper,
                        ook de opbrengsten ervan komen de Lommelaars ten goede.</li>
                </ul>

                <p>Want wij willen de belastingen voor de Lommelaars laag houden. De laagste van Limburg!</p>
            </div>
        </section>

        <section id="werkInEigenStreek">
            <div class="page-header">
                <h1>2. Werk in eigen streek</h1>
            </div>
            <p class="lead">Met de opening van Kristalpark III is Lommel 300 ha nieuwe bedrijventerreinen rijker.
                Het biedt plaats aan bedrijven die in zullen staan voor een bijkomende tewerkstelling van maar liefst 7.000 mensen in de komende decennia.
            </p>



            <div class="row-fluid">
                <div class="span5"><img src="/s/img/waarom/werk.png" class="img-rounded" /></div>
                <div class="span7">
                    <h2>Enkele vaststellingen:</h2>
                    <ul>
                        <li>De laatste twee jaar verkochten we 12 percelen industriegrond.</li>
                        <li>Het werkloosheidscijfer ligt lager dan het Vlaamse gemiddelde. Een omwenteling t.o.v. 10 jaar geleden.</li>
                        <li>Ondanks de crisis dienden de laatste maanden liefst 18 bedrijven een aanvraag in om op ons industrieterrein een bouwperceel te kopen.</li>
                        <li>Daarbij zijn ook interessante herlocalisaties. Zo heeft de Vlaamse Busmaatschappij (Adelbergstraat) inmiddels een perceel industriegrond toegewezen gekregen op Maatheide. Goed nieuws dus ook voor de bewoners in en rond Adelberg.
                            En we blijven ijveren voor de de verhuis van het bedrijf Bemal in de Barrier, om daar vervolgens een mooi woonproject aan het water te ontwikkelen.</li>

                    </ul>
                </div>
            </div>

            <div class="row-fluid">
                <p>De stad zal zelf investeren in de bouw van de nieuwe windmolens op Kristalpark. Daarvoor werd de NV Lommel Win(d)t opgericht. Dat is goed nieuws.
                    De opbrengst van windenergie zal in de toekomst deels naar onze stadskas vloeien. Maar ook elke Lommelaar zal via een coöperatieve aandelen kunnen kopen en op
                    die manier bijdragen aan een CO2-neutraal Lommel.
                    Die aandelen zullen pas te koop zijn op het moment dat de windmolens klaar zijn. Dus nog even geduld.
                </p>
            </div>
        </section>

        <section id="GezelligWinkelen">
            <div class="page-header">
                <h1>3. Gezellig Winkelen</h1>
            </div>
            <p class="lead">Lommel is de derde winkelstad van Limburg, na Hasselt en Genk. De netto handelsoppervlakte in Lommel steeg de laatste 5 jaren met liefst 10.000 m2.
                Uit een uitgevoerd marktonderzoek blijkt dat de shoppers bovendien erg tevreden zijn over het winkelgebeuren in Lommel. </p>

            <div class="row-fluid">
                <div class="span3"><img src="/s/img/waarom/winkelen.png" class="img-rounded"/></div>
                <div class="span9">
                    <p>
                        Liefst 94% van de bezoekers vindt het winkelaanbod in Lommel goed en 97% van de ondervraagden vindt het in Lommel heel aangenaam winkelen.
                        En we blijven ons centrum verder ontwikkelen. Verschillende nieuwe projecten staan in de steigers en zullen in de volgende jaren het aanzicht van “’t Dûrp” grondig veranderen.
                        In deze projecten is er ruimte voor nieuwe woningen, nieuwe winkels en nieuwe horecazaken. Nieuwe ondergrondse parkings zullen het comfort van de shopper of de horecabezoeker
                        aanzienlijk verhogen.</p>

                    <p>Buurtwinkels hebben het de laatste jaren steeds moeilijker. Hiervoor nemen we initiatieven om het winkelen op de wijken te behouden.
                        In Kerkhoven wordt na een beslissing van het stadsbestuur wekelijks een gezellig marktje georganiseerd en op het plein Hollants komt een Sparwinkel.
                        In Heeserbergen ondersteunen we de plannen voor enkele mooie buurtwinkels. In de Barrier wordt het Esso- station verplaatst naar een groter complex.</p>
                </div>
            </div>
        </section>

        <section id="iedereenThuisInOnzeStad">
            <div class="page-header">
                <h1>4. Iedereen thuis in onze stad</h1>
            </div>
            <p class="lead">Voor ons blijft “wonen” in al zijn aspecten buitengewoon belangrijk. Wonen in Lommel moet voor iedereen haalbaar blijven.
                Met heel wat initiatieven proberen we wonen ook betaalbaar te houden. Daarnaast moet het in onze stad prettig wonen zijn, een plaats waar niet alleen je huis staat, maar ook
                alles dichtbij is: goede winkels, fijne sportmogelijkheden, uitstekend onderwijs, diverse culturele activiteiten, een uitgebreid filmaanbod, ... Maar ook nette straten, bloemrijke rotondes,
                een opvallend kunstwerk, ... een mooi openbaar domein is voor iedereen een meerwaarde.
            </p>

            <div class="row-fluid">
                <p>Prettig wonen, betekent ook veilig wonen! Niet minder dan 202 mensen zijn elke dag paraat om onze stad zo veilig mogelijk te houden:</p>
                <ul>
                    <li>Politie: 64 geüniformeerde politiemensen 10 politiemedewerkers zonder uniform</li>
                    <li>Gemeenschapswachten: 17 gemeenschapswachten</li>
                    <li>Brandweer: 28 beroepsbrandweermannen, 79 vrijwillige brandweermannen, 2 preventionisten en 2 administratieve medewerkers  </li>
                </ul>

                <p>Om wonen in onze stad haalbaar en betaalbaar te houden, proberen we vooral meer bouwpercelen op de markt te krijgen.</p>

                <p>Met nieuwe uitvoeringsplannen bieden we de eigenaars van heel wat binnenliggende gronden de mogelijkheid om er nieuwe bouwpercelen te creëren. In reeds bestaande bouwzones proberen we te verkavelen, zodat ook deze gronden beschikbaar worden voor jonge gezinnen.</p>

                <p>Als stad kopen we daarenboven regelmatig nieuwe gronden aan om ze vervolgens aan gematigde prijzen weer te verkopen aan de Lommelaars.</p>

                <p>Het aanbod richten we daarenboven op alle mogelijke gezinssituaties.
                    We zetten in op serviceflats voor onze ouderen en kleinere studio’s voor onze jongeren en voor alleenstaanden. Ook is het aanbod sociale woningen de laatste jaren opnieuw flink gestegen.
                Zo krijgt iedere Lommelaar de kans om in zijn stad te blijven wonen.
                Tijdens de voorbije jaren zijn ruitmelijk 900 bijkomende woongelegenheden in Lommel gecreëerd.</p>
            </div>
        </section>

        <section id="WonenTussenPleinenEnParken">
            <div class="page-header">
                <h1>5. Wonen tussen pleinen en parken</h1>
            </div>
            <p class="lead">Lommel is anders dan vele steden. Ons beleid is er een van open ruimte en aangename publieke plaatsen. Verkavelingen scheppen nieuwe bouwpercelen in een veilige,
                vaak verkeersluwe omgeving.
            </p>

            <div class="row-fluid">
                <div class="span3"><img src="/s/img/waarom/wonen.png" class="img-rounded"/></div>
                <div class="span9">
                    <p>Het Kerkplein, het Dorpsplein en het Hertog Janplein liggen in elkaars verlengde.
                        Deze centrale as wordt zijdelings aangevuld met heel wat groen zoals het Burgemeesterpark, De Vryheyt en een nieuwe kinderfontein,
                        het Prinses Astridpark en het Michiel Jansplein. Wij willen deze groene beleving versterken met een park tussen de Kapelstraat en de Koningsstraat,
                        een wandelboulevard tussen Mudakkers en Kloosterstraat en de invulling van het binnengebied tussen Adelberg en de Molsekiezel.</p>

                    <p>Rond al deze nieuwe pleinen zijn verschillende soorten meergezinswoningen mogelijk met aandacht voor de privacy van de toekomstige bewoners.
                        De bouwvoorschriften worden er afgestemd op de omgeving.</p>
                </div>
             </div>

            <div class="row-fluid">
                <p>We streven naar een aangename leefomgeving voor alle Lommelaars. Zo kreeg de Barrier met het Barrierspark een mooie groene invulling en werken we nu
                    aan een woonomgeving met uitzicht op het kanaal (op de plaats van het bedrijf Bemal). Ook rond de voetbalterreinen van Lutlommel liggen uitstekende kansen
                    om de wijk te versterken met een groene vrijetijdszone.</p>

                <p>Onze vernieuwde begraafplaatsen zijn een toonbeeld van rust en respect voor onze overledenen. Onze provincie beschikt slechts over een crematorium in Hasselt
                    terwijl meer dan de helft van de Vlamingen vandaag kiest voor crematie. Een nieuw crematorium in Noord-Limburg is daarom zeker op zijn plaats.
                </p>

                <p>En voor ons moet dit nieuwe crematorium in Lommel worden gebouwd. De plaats hebben we reeds gekozen, vlakbij onze stedelijke begraafplaats.
                    Het voordeel voor de Lommelaars is dubbel: afscheid nemen van onze dierbaren vlakbij huis én geen dure verplaatsing meer naar een ander, ver af gelegen crematorium.
                </p>
            </div>
        </section>

        <section id="UwOudeDagIsOnzeZorg">
            <div class="page-header">
                <h1>6. Uw oude dag is onze zorg</h1>
            </div>
            <p class="lead">Ons seniorenbeleid steunt op twee pijlers. Met een uitgebreide thuiszorg kan iedere Lommelse senior zo lang als het kan in zijn vertrouwde omgeving wonen. </p>

            <div class="row-fluid">
                <p>Ons dienstencentrum beschikt over een klusjesdienst, poetsdienst, voetverzorging, maaltijdbedelingen en veel meer.
                    De familie ontvangt een mantelzorgtoelage die tot hoogste van Vlaanderen behoort.</p>
                <p>Ons pas geopende woon- en zorgcentrum Kapittelhof is een modern, energiezuinig en open gebouw waar 80 rusthuisbewoners in optimale omstandigheden van hun oude dag kunnen genieten.
                    Voeg daarbij de 20 nieuwe serviceflats, het dagverzorgingscentrum en het dienstencentrum en u begrijpt waarom wij zo trots zijn op deze belangrijke realisatie
                    in de Lommelse ouderenzorg.</p>

                <p>Ook in Heeserbergen willen we een nieuw rusthuis bouwen omdat Hoevezavel niet meer aangepast is aan de huidige noden.
                    De plannen zijn ondertussen klaar en ingediend en de subsidies zijn toegekend. Van dynamiek gesproken.
                    In Lommel hoeft de vergrijzing geen bedreiging te zijn. Kwaliteit in de zorg, met minder zijn we niet tevreden.</p>
            </div>
        </section>

        <section id="FitFitterFitst">
            <div class="page-header">
                <h1>7. Fit, fitter, fitst</h1>
            </div>
            <p class="lead">Lommel is een sportstad. De cijfers bewijzen dat: 250 sportclubs in 41 sporttakken. Het kloppend hart is park De Soeverein, dat wekelijks meer dan 9.000 sporters ontvangt.</p>

            <div class="row-fluid">
                <div class="span2"><img src="/s/img/waarom/iedereenthuis.png"/> </div>
                <div class="span10">
                    <p>In de 35ha van dit park combineren we sport met vrije tijd in een groene omgeving. Rond het centrale sport- en evenementencomplex liggen tal van sportfaciliteiten.

                    <p>Een nieuwe sport- en turnhal zorgen voor een nog groter gebruiksgemak voor de sporters en in het nieuwe jeugdvoetbal- centrum worden jonge voetballers opgeleid.
                        Dankzij de renovatie kreeg de vernieuwde cafetaria een veel centralere ligging met bijkomend buitenterras en is zij het verbindend element tussen arena en sporthal.
                        De verdere ontwikkeling van het park wordt gestuurd door een doordacht masterplan. De vervanging van het huidige zwembad door een gezinsgericht
                        zwembad met oog voor school- en clubgebruikers staat vervolgens op de agenda. Andere toekomstige troeven zijn een jeugdherberg, een manege en wellness.
                        De inplanting van een tennishal als een groene heuvel tussen speeltuin en atletiekpiste is slechts een kwestie van tijd.</p>

                    <p>En dat terwijl in Kolonie de tennisaccommodatie in een nieuw kleedje werd gestopt. Daarmee is de Lommelse Tennisclub inmiddels uitgegroeid tot de grootste tennisclub van heel Vlaanderen.</p>

                    <p>In onze uitgestrekte gemeente kan je ook sporten in verschillende wijken. Met sporthallen in Kolonie en Kattenbos en vooral ook de nieuwe sporthal van Kerkhoven die we samen
                        met de school bouwen, voorzien we al een uitgebreid aanbod.</p>
                </div>


            </div>
        </section>

        <section id="VanGRAUWnaarGROEN">
            <div class="page-header">
                <h1>8. Van GRAUW naar GROEN</h1>
            </div>
            <p class="lead">Van een vervuilde grensgemeente zijn we gegroeid naar een geliefde natuurplek voor wandelaars, fietsers, natuurliefhebbers, bezoekers en Lommelaars.
                We hebben dan ook hard gewerkt om het imago van vervuilde stad van ons af te schudden.
                We saneerden in de voorbije jaren heel wat vervuilde gronden en zorgden voor de verwijdering van zinkassen uit tuinen, speelplaatsen, ...
            </p>

            <div class="row-fluid">
                <p>De Lommelse uitgestrekte bos- en heide-gebieden worden versterkt. Met unieke plekjes in het groen als de natuurkunstwerken, het speelbos, het blotevoetenpad of de nieuwe
                    kijkwandeling in Kattenbos maken we de natuurbeleving nog intenser. De gerenoveerde molen van Kattenbos herrijst op het Katterij Dijksken in een windrijke omgeving.
                Bosland, het 5000 ha groot bos in Lommel, Overpelt en Hechtel-Eksel, heeft de ambitie ook het meest kindvriendelijke bos te zijn. Vanop een nieuwe hoge uitkijktoren genieten
                    bezoekers van een prachtig zicht op onze Lommelse sahara midden in deze groene long. Lommel is een groene stad en dat willen wij nog meer uitdragen.</p>

                <h2>Allemaal Beestjes</h2>
                <p>Onze bossen herbergen een grote diversiteit aan planten en dieren. De boomleeuwerik en gladde slang voelen zich thuis in onze heide.
                    In de vennen, zandstroken en bloemrijke graslandjes leven zeldzame bedreigde soorten als de stekelpootroofvlieg, de kommavlinder en vooral de lentevuurspin.
                    Met onze aanpak willen we met natuurverbindingen de biodiversiteit bevorderen.</p>
            </div>
        </section>

        <section id="AandachtVoorLommelsTalent">
            <div class="page-header">
                <h1>9. Aandacht voor lommels talent!</h1>
            </div>
            <p class="lead">Lommel is een kinderstad! Tal van spelactiviteiten bewijzen dat: grabbelpas, froezelpas, kinderdierendagen, sportkampen, Kinderen in het Park,
                de Buitenspeeldag en uiteraard Kinderstad.</p>

            <div class="row-fluid">
                <p>Samen met de scholen gaat de prioriteit naar verkeersopvoeding. Op ons verkeerspark leren we kinderen omgaan met het verkeer of met het fietsexamen van de zesdejaars in de praktijk.

                <p>Investeren in de sportuitrusting van jongeren, de jeugdwerking van de sportclubs, in de bouw van de jeugdlokalen of in het onderwijs vinden wij erg zinvol.
                    We steunen eveneens graag jonge mensen die de wijde wereld intrekken.</p>

                <p>Als het even moeilijk wordt, is er individuele ondersteuning in het Jongeren Advies Centrum dat we een plekje gaven in ons Huis van de Jeugd.</p>

                <p>Kinderopvang is een belangrijke pijler in de toekomst. Voor de buitenschoolse kinderopvang of de Kinderclub willen we een nieuwe huisvesting met ruimte voor 100 kinderen.
                    De bestaande samenwerking met cultuurverenigingen, sportclubs en kunstacademies krikken we op om ook deze kinderen volop aan buitenschoolse activiteiten te laten deelnemen.</p>

                <h2>Extra impulsen aan het uitgangsleven</h2>
                <p>Jongeren bieden we een thuis in het Huis van de Jeugd waar we tal van activiteiten organiseren. Met het ‘School’s Out’ feestje zetten we ook dit jaar weer met
                    alle Lommelse jongeren een hopelijk prachtige zomer in. Onze stad heeft tal van horecazaken. Om het aanbod café’s en dansgelegenhedenvoor jongeren te vergroten,
                    willen we extra impulsen aan het uitgangsleven geven. Het zomerfestival Lommel Leeft is daar een mooi voorbeeld van.</p>
            </div>
        </section>

        <section id="LommelLeeftAltijdEnOveral">
            <div class="page-header">
                <h1>10. Lommel leeft... altijd en overal</h1>
            </div>

            <p class="lead">In Lommel valt er <strong>ALTIJD</strong> iets te beleven.</p>
            <div class="row-fluid">
                <div class="span6"><img src="/s/img/waarom/lommelleeft.png" class="img-rounded" /></div>
                <div class="span6">
                    <p>Lommel is een toffe belevingsstad voor Lommelaars en bezoekers. Dankzij Lommel Leeft zorgen wij ervoor dat iedereen de kans krijgt deel te nemen aan culturele manifestaties.
                        Jong, oud, mindervaliden, ... iedereen geniet van de gratis park- en marktconcerten, de levende beelden tijdens Beeldig Lommel,
                        Halloween, de vele sportmanifestaties, de eindejaarsactiviteiten ...</p>
                </div>
            </div>

            <p class="lead">In Lommel valt er <strong>OVERAL</strong> iets te beleven.</p>
            <div class="row-fluid">
                <p>Met veel aandacht voor het sociale leven in wijken en buurten werden succesvolle initiatieven gelanceerd zoals Wijk in de Kijker en de subsidies voor buurtbarbecues.
                    Die zijn al jaren een garantie voor meer dan 125 kleine en grote buurtfeesten die mensen samenbrengen. Ook Spelen in de wijken en het Dorpsrestaurant dragen daar toe bij.
                Het Lommelse verenigingsleven bloeit. In 2010 is Lommel als eerste Limburgse gemeente gekroond tot WAKkerste stad van Vlaanderen, de prijs voor de beste werking op gebied van amateurkunsten.
                    De prijs is een beloning voor het jarenlange enthousiasme, de creativiteit en de gedrevenheid van Lommelse amateurkunstenaars, cultuurverenigingen en vrijwilligers.</p>

                <p>Lommel is een cultuurstad. Met aandacht voor beginnend talent en het betere werk. Ons cultuurcentrum behaalde met verve haar regionale erkenning.
                    En dankzij een jaarlijks budget voor openbare kunst, verschenen er tal van opmerkelijke en uitdagende kunstwerken op onze pleinen.</p>
            </div>
        </section>


    </div>
</div>

{% include "inc/footer.html" %}