
</div><!-- /container -->

{% if game %}
<!--
    Le game
-->
<a href="/spel" class="game">Lijst<br/>Burgemeester<br/>Spel</a>
{% endif %}

<!--
    Le fun footer
-->
<div style="margin-bottom: 20px;"></div>

<!-- Le javascript
================================================== -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script type="text/javascript" src="/s/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/s/js/app.js"></script>
<!-- Stem Lijst Burgemeester op 14 oktober -->
</body>
</html>