
</div><!-- /container -->


<!-- -->
<div style="margin-bottom: 25px;"></div>

<!-- Le javascript
================================================== -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script src="/s/js/bootstrap.min.js"></script>
<script src="/s/js/app.js"></script>

{% ifequal preload "youth" %}
<script>App.preload('/s/img/persons/youth');</script>
{% endifequal %}
{% ifequal preload "poster" %}
<script>App.preload('/s/img/persons/poster');</script>
{% endifequal %}
</body>
</html>
