<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% if page.title %}{{ page.title }} | {% endif %}Lijst Burgemeester Lommel</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <meta property="og:site_name" content="Lijst Burgemeester Lommel"/>
    <meta property="og:image" content="/s/img/logo.png"/>
    <meta property="og:url" content="http://lijst.lukin.be"/>
    <meta name="description" content="{{ page.desc }}"/>
    <meta name="keywords" content="{{ page.keywords }}"/>

    <!--
    <meta property="fb:app_id" content="117844644948494"/>
    <meta property="fb:page_id" content="209616889051124"/>
    -->

    <!--
    <meta property="og:site_name" content="Shopliv.es"/>
    <meta property="og:image" content="http://dncvhruznkiwg.cloudfront.net/s/img/common/oglogo.png"/>
-->
<!--
     m        "       "            m
     #      mmm     mmm    mmm   mm#mm
     #        #       #   #   "    #
     #        #       #    """m    #
     #mmmmm mm#mm     #   "mmm"    "mm
                      #
                    ""
     mmmmm                                                            m
     #    # m   m   m mm   mmmm   mmm   mmmmm   mmm    mmm    mmm   mm#mm   mmm   m mm
     #mmmm" #   #   #"  " #" "#  #"  #  # # #  #"  #  #"  #  #   "    #    #"  #  #"  "
     #    # #   #   #     #   #  #""""  # # #  #""""  #""""   """m    #    #""""  #
     #mmmm" "mm"#   #     "#m"#  "#mm"  # # #  "#mm"  "#mm"  "mmm"    "mm  "#mm"  #
                           m  #
                            ""
 -->
    <!-- Le CSS -->
    <link href="/s/css/bootstrap.min.css" rel="stylesheet">
    <link href="/s/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/s/css/docs.css" rel="stylesheet">
    <link href="/s/css/style.css" rel="stylesheet">

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="/s/img/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/s/img/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/s/img/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/s/img/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/s/img/ico/apple-touch-icon-57-precomposed.png">

    <!--
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-24094817-2']);
        _gaq.push(['_trackPageview']);
        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
    -->
</head>
<body data-spy="scroll" data-target=".bs-docs-sidebar">
<!--<p>{{ debug }}</p>-->
<a name="top"></a>
<div class="loading" id="loading"><img width="31" height="31" src="/s/img/ajax-loader.gif" /></div>

{% ifequal menu "back" %}
<div class="navfixed clearfix" id="header">
    <div class="pull-left"><a class="btn btn-inverse" href="javascript:void(0)" onclick="App.history();">Terug</a></div>
    <div class="pull-right"><a class="btn btn-inverse" href="/" loading="true"><i class="icon-home icon-white"></i> Home</a></div>
</div>
<div class="navfixed-ph"></div>
{% endifequal %}

{% ifequal menu "persons" %}
<div class="navfixed clearfix" id="header">
    <div class="pull-left"><a class="btn btn-inverse" href="{{ previous }}" loading="true"><i class="icon-chevron-left icon-white"></i> Vorige</a></div>
    <div class="pull-left"><a class="btn btn-inverse" href="/wie/" loading="true"><i class="icon-user icon-white"></i></a></div>
    <div class="pull-right"><a class="btn btn-inverse" href="{{ next }}" loading="true">Volgende <i class="icon-chevron-right icon-white"></i></a></div>
</div>
<div class="navfixed-ph"></div>
{% endifequal %}

{% ifequal menu "logo" %}
<a class="logo" href="/"><img src="/s/img/logo.png" alt="Lijst Burgemeester"/></a>
{% endifequal %}

<!-- the lives hereeee-->
<div class="container" id="container">